body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family:  'Roboto', sans-serif;;
}
* {
    padding: 0;
}

.container {
    margin: auto;
    width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-30 {
    width: 30%;
}
.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-70 {
    width: 70%;
}

.site-logo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-size: 36px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end;
}

.ul li a {
    text-decoration: none;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #828282;
}

a.theme-color {
    color: #F2994A;
}

ul li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #828282;
}
a.underline {
    text-decoration: underline;
    color: #333333;
}

.theme-button {
    background-color: #F2994A;
    padding: 11px 40px;
    border-radius: 5px;
    color: #fff;
}
.hero-title h1 {
    font-size: 72px;
    line-height: 100px;
    letter-spacing: -0.581818px;
    color: #333333;
    margin-bottom: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family:  'Roboto', sans-serif;;
}
* {
    padding: 0;
}

.container {
    margin: auto;
    width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-30 {
    width: 30%;
}
.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-70 {
    width: 70%;
}

.site-logo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-size: 36px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end;
}

.ul li a {
    text-decoration: none;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #828282;
}

.theme-color {
    color: #F2994A;
}

ul li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #828282;
}
a.underline {
    text-decoration: underline;
    color: #333333;
}

.theme-button {
    background-color: #F2994A;
    padding: 11px 40px;
    border-radius: 5px;
    color: #fff;
}
.hero-title h2 {
    font-size: 72px;
    line-height: 1.3;
    letter-spacing: -0.581818px;
    color: #333333;
    margin-bottom: 0px;
}
.hero-content p {
    color: #828282;
    line-height: 33px;
}
.content-and-number {
    display: flex;
    gap: 40px;
}

.number {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #333333;
}

.numbers p {
    font-weight: 700;
    text-transform: uppercase;
}

.hero-image {
    display: flex;
    justify-content: center;
}

header.site-header .row {
    display: flex;
    justify-content: space-between;
}
.numbers {
    line-height: 10px;
}
.learn-english-img {
    margin-top: 35px;
}

section.help-learn-english .row {
    display: flex;
    align-items: center;
}
.buttons {
    display: flex;
    gap: 25px;
}
.learn-english-title h2 {
    font-size: 55px;
    line-height: 1.3;
    margin-bottom: 0px;
    margin-top: 0px;
}
.learn-english-title p {
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
}

.learn-english-description p {
    color: #828282;
    line-height: 25px;
    margin-bottom: 30px;
}

.learn-english-title-and-description {
    margin-top: 102px;
    padding-left: 44px;
}

.buttons .theme-button {
    padding: 22px 65px;
    display: flex;
    align-items: center;
    font-size: 22px;
    box-shadow: 0px 4px 20px rgba(242, 153, 74, 0.5);
}
.buttons .play-button {
    display: flex;
    align-items: center;
    gap: 10px;
    color:  #4F4F4F;
    font-size: 17px;
}
.learn-english-title h3 {
    margin-bottom: 5px;
}
.why-choose-title-and-description h2 {
    margin-top: 0px;
    font-size: 52px;
    line-height: 1.3;
    color: #333333;
    margin-bottom: 10px;
}

.why-choose-title-and-description p {
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
}

.margin-b-80{
    margin-bottom: 80px;
}
.why-description {
    display: flex;
    gap: 15px;
    align-items: center;
}
section.why-choose-section .row {
    display: flex;
    align-items: center;
}

.why-choose-title-and-description h3 {
    margin-bottom: 5px;
}

.why-choose-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #333333;
}
.why-description img {
    padding: 20px 0px;
}
.why-choose-img {
    display: flex;
    justify-content: flex-end;
}
.why-description p {
    font-weight: 400;
}

.col-100 {
    width: 100%;
}

.top-mentor-title {
    text-align: center;
}

.mentor-description p {
    text-align: center;
}

.mentor {
letter-spacing: 0.03em;
font-weight: 700;
line-height: 12px;
}

.top-mentor-title h2 {
    font-size: 36px;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: -10px;
}

.mentor-description p {
    font-weight: 400;
    font-size: 20px;
    line-height: 5px;
    letter-spacing: -0.625263px;
    color: #828282;
}

.margin-b-40{
    margin-bottom: 40px;
}

section.top-mentor-tutorify-section .row {
    display: flex;
    justify-content: space-between;
}

.mentor-img-description h2 {
    font-weight: 500;
    font-size: 30.2174px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 0px;
}
.year {
    display: flex;
}

.year img {
    padding: 20px 11px;
}

.mentor-img-description p {
    font-size: 19.4255px;
    line-height: 0px;
    color: #828282;
}

.year p {
    font-weight: 500;
    font-size: 16.8904px;
    line-height: 213%;
    color: #828282;
}

.card {
    width: 385.22px;
    height: 538px;
    background: #FFFFFF;
    box-shadow: 0px 5.2233px 19.5874px rgba(204, 204, 204, 0.25);
    border-radius: 21.5839px;
}

.mentor-img-description {
    padding: 10px 25px;
}

.Pricing {
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 12px;
    margin-bottom: -15px;
}
    
.top-pricing-title h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-transform: capitalize;
    color: #333333;
    margin-top: 0px;
}
    
.pricing-description p {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.625263px;
    color: #828282;
    margin-top: -35px;
 }
.col-25{
    width: 25%;
}

.card-pricing-title-and-description {
    background: #F8F8F8;
    border-radius: 22.8148px;
    height: 465px;
}
    
.card-pricing-title {
    padding: 30px 35px;
}

.card-pricing-img-anddescription {
    display: flex;
    align-items: center;
    gap: 10px;
}
    
.card-pricing-bottom-des p {
    font-weight: 500;
    font-size: 13.1624px;
    line-height: 20px;
    color: #848199;
}
    
.card-pricing-title h2 {
    font-weight: 600;
    font-size: 24.5698px;
    line-height: 37px;
    color: #333333;
}
    
.card-pricing-title p {
    font-weight: 500;
    font-size: 13.1624px;
    line-height: 20px;
    color: #848199;
}
.Intermediate {
    height: 404px;
    background: #F2994A;
    box-shadow: 0px 36.8547px 29.8348px rgba(242, 153, 74, 0.29);
    border-radius: 22.8148px;
    padding: 30px 35px;
    color: #fff;
}
.Intermediate .card-pricing-img-anddescription p {
    color: #fff;
}
    
.pricing-section { 
    display: flex;
    gap: 30px;
}       
.price-and-des .price {
    font-weight: 600;
    font-size: 31.5897px;
    line-height: 20px;
    margin-top: 10px;
}

.price-and-des p {
    font-weight: 500;
    font-size: 14.9174px;
    line-height: 22px;
}

.price-and-des {
    display: flex;
    gap: 8px;
}
.price-button {
    text-align: center;
    background: rgba(155, 81, 224, 0.1);
    border-radius: 17.5499px;
    color: #f2994a;
    padding: 10px;
    margin-top: 10px;
    width: 193.97px;
}

.Intermediate-button .price-button {
    height: 20.59px;
    background: #FFFFFF;
    width: 207.97px;
}
.what-say-content-and-iamge {
    display: flex;
    align-items: center;
    gap: 170px;
}

.what-say-des p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}

.what-say-title h2 {
    font-size: 48px;
    line-height: 120%;
    color: #333333;
    margin-top: 0px;
    margin-bottom: 15px;
}

.what-say-title p {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F2994A;
}
p.what-say-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

p.what-content {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}
.footer-title {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.436364px;
}

.footer-content {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.231818px;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.footer-title h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 0px;
    color: #fff;
}
.footer-content p {
    opacity: 0.5;
    color: #fff;

}

.footer-title-and-content .theme-button {
    padding: 13px 22px;
    width: 126px;
    margin-top: 35px;
}
.footer-button {
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.231818px;
}

footer.site-footer .row {
    background: #1E2833;
}
.footer-title-and-content {
    padding: 51px 61px;
    margin-left: 55px;
}


.footer-product {
    margin-top: 68px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
}
.product {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.231818px;
    color: #FFD2DD;
}
